<h1 class="text-center page-header"><%= @article.title %></h1>
<hr>
<div class="row">
  <div class="col-md-8">
    <%= @article.description %>
  </div>
  <div class="col-md-4 bg-light rounded">
    <h2>Author</h2>
    <img src="http://i0.kym-cdn.com/photos/images/original/001/301/496/d2d.jpg" class="rounded-circle" height="75" width="75">
    <ul style="padding-top: 5px">
      <li>Name: Skeletor</li>
      <li>Age: n/a</li>
      <li>Occupation: Would-be conqueror Senior</li>
    </ul>
  </div>
</div>
<%= link_to 'Back to articles list', articles_path %> |
<%= link_to 'Edit', edit_article_path(@article) %>
