<div class="center jumbotron">
  <h1>Welcome to Alpha Blog!</h1>
  <%= link_to 'Sign up', '#', class: 'btn btn-success btn-md' %>
  <%= link_to 'Log in', '#', class: 'btn btn-primary btn-md' %>
</div>
